---
import Layout from "../../layouts/Layout.astro";
import Productos from "../../components/index/Productos";
---

<Layout title="Inicio">
	<section class="">
		<div>
			<img
				class="object-cover"
				src="/Banner-WEB-Principal-FB.avif"
				alt="baner de farmabien"
			/>
		</div>
	</section>

	<Productos client:load/>

	
</Layout>
