---
import Layout from "../layouts/Layout.astro";
import { labs } from "../logosLabs";
import Productos from "../components/index/Productos";


---

<Layout title="Inicio">
	<section class="">
		<div>
			<img
				class="object-cover"
				src="/Banner-WEB-Principal-FB.avif"
				alt="baner de farmabien"
			/>
		</div>
	</section>

	<Productos client:load/>

	<section class="flex flex-col justify-center items-center gap-4">
		<div class="text-center my-6">
			<h2 style="font-size:cal(1rem -7vw);">
				<span class="text-green-500 font-bold">Nuestros</span>
				<span>Colaboradores</span>
			</h2>
		</div>
		<div class="container flex justify-center items-center gap-2 mb-6">
			{
				labs.map((logo) => {
					return (
						<div class="w-[10vw]">
							<img class="" src={logo.img} alt={logo.alt} />
						</div>
					);
				})
			}
		</div>
	</section>
</Layout>
