---
---

<footer class="bg-green-500 text-white mt-auto">
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <img src="/fb_logo.svg" alt="logo farmabien">
        <p>Tu farmacia de confianza</p>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Contacto</h3>
        <p>Email: contacto@farmabien.com</p>
        <p>Teléfono: (01) 123-4567</p>
      </div>
      <div>
        <h3 class="text-xl font-bold mb-4">Horario</h3>
        <p>Lunes a Domingo</p>
        <p>24 horas</p>
      </div>
    </div>
  </div>
</footer>