---
import Nav from './Nav.astro';
---

<header class="text-green-950">
  <div class="container mx-auto px-4 py-6">
    <div class="flex justify-between items-center">
      <a name="logo de farmabien"
      href="/" class="text-2xl font-bold">
      <img src="/fb_logo.svg" alt="logo de farmabien">
      </a>
      <Nav />
    </div>
  </div>
</header>