---
import Nav from './Nav.astro';
---

<header class="bg-primary text-white">
  <div class="container mx-auto px-4 py-6">
    <div class="flex justify-between items-center">
      <a href="/" class="text-2xl font-bold">FarmaBien</a>
      <Nav />
    </div>
  </div>
</header>